<p>
	British person living in the USA.
	Flavour physics @ <a href='https://belle2.org'>Belle II</a>.

</p>
<p>
	&hearts; Heavy metal, pizza, python, vim.
</p>

<ul>
	<!---div class="dropdown-menu-item">
		<li><a href='#'>CV</a>
		<ul>
			<li><a href='files/SCunliffeCV.pdf'>SCunliffeCV.pdf</a> (Feb 2016)</li>
			<li><a href='https://inspirehep.net/author/profile/S.Cunliffe.1'>inspirehep profile</a></li>
			<li><a href='http://arxiv.org/find/all/1/all:+cunliffe_s'>arXiv</a>
		</ul>
	</div--->
	<div class="dropdown-menu-item">
		<li><a href='#'>Recent talks</a>
		<ul>
			<li>Public B&rarr;K*&mu;&mu; results @ LHCb Implications WS [<a href='https://indico.cern.ch/event/395704/session/1/contribution/33/attachments/1180537/1709263/SCunliffe151103-Implications.pdf'>slides</a>]
			<li><a href='https://indico.cern.ch/event/348282/'>LHCb UK</a> open session [<a href='https://indico.cern.ch/event/348282/session/0/contribution/1/attachments/687293/943929/SCunliffe150107.pdf'>slides</a>]</li>
			</li>
		</ul>
		</li>
	</div>
	<div class="dropdown-menu-item">
		<li><a href='#'>Projects</a>
		<ul>
			<li>S-wave B&rarr;K&pi;&mu;&mu;<br /> [<a href='https://arxiv.org/abs/1606.04731'>arXiv:1606.04731</a>]</li>
			<li>Angular analysis B&rarr;K*&mu;&mu;<br /> [<a href='https://dx.doi.org/10.1007/JHEP02(2016)104'>JHEP <b>02</b> (2016) 104</a>]</li>
		</ul>

		</li>
	</div>
</ul>
<ul>
	<li><a href='https://online-go.com/user/view/38627'>&#x56F2;&#x7881;</a></li>
	<li><a href='http://www.ukclimbing.com/logbook/showlog.html?id=207159'>UKC</a></li>
</ul>

<hr />

<div align='center'>
	<a href="https://github.com/samcunliffe/">
		<i class="fa fa-github fa-2x fa-border"></i></a>
	<a href='https://uk.linkedin.com/in/samcunliffe'>
		<i class="fa fa-linkedin fa-2x fa-border"></i></a>
	<a href='https://twitter.com/scnlf/'>
		<i class="fa fa-twitter fa-2x fa-border"></i></a>
	<a href='https://stackexchange.com/users/1551833/greeneggs?tab=accounts'>
		<i class="fa fa-stack-exchange fa-2x fa-border"></i></a>
</div>
