<p>
High energy physics PhD student at <a href='http://www.imperial.ac.uk/highenergyphysics/'>Imperial College London</a> working on the <a href='http://lhcb-public.web.cern.ch/lhcb-public/'>LHCb</a> experiment.
</p>

<ul>
	<li><a href='http://inspirehep.net/author/profile/S.Cunliffe.1'>inspire profile</a></li>
</ul>

<hr />

<a href="https://github.com/samcunliffe/">
	<i class="fa fa-github fa-2x fa-border"></i></a>
<a href='https://plus.google.com/+SamCunliffe/'>
	<i class="fa fa-google-plus fa-2x fa-border"></i></a>
<a href='https://uk.linkedin.com/in/samcunliffe'>
	<i class="fa fa-linkedin fa-2x fa-border"></i></a>
<a href='https://twitter.com/green0eggs/'>
	<i class="fa fa-twitter fa-2x fa-border"></i></a>
